In [ ]:
#Adding whitepaces to String

In [1]:
print("favourite languages : python c++ java cobal pascal")

favourite languages : python c++ java cobal pascal

In [ ]:
# Add new line delimiter (\n)

In [3]:
print("favourite languages : \npython\nc++\njava\ncobal\npascal")

favourite languages :
python
c++
java
cobal
pascal

In [ ]:
# Add Tab delimiter (/t) #it adds 4 spaces

In [4]:
print("favourite languages : \n\tpython\n\tc++\n\tjava\n\tcobal\n\tpascal")

favourite languages :
	python
	c++
	java
	cobal
	pascal

In [ ]:
# Removing white spaces from string

In [6]:
y = '    python'
print(y)

    python

In [10]:
z = 'python    '
print(z)

python

In [ ]:
# lstrip left side stripping

In [12]:
y = '    python'
y.lstrip()

'python'

In [ ]:
# rstrip right side stripping

In [13]:
z = 'python    '
z.rstrip()

'python'

In [ ]:
# strip (Both the gaps will be eliminated)

In [14]:
a = "    python programming      "
print (a)

    python programming

In [15]:
a.strip()

'python programming'

In [ ]:
# 2 steps in strip
1. Search
2. Eliminate
# In lstrip and rstrip only eliminate will work

In [ ]:
#Introduction to list datatypes

In [ ]:
#def: A list is an ordered collection of items.
#Defining the list : In Square bracket []

In [18]:
students = ['dinesh', 'surya', 'nikitha', 'bhoomika', 'tilak', 'sai']
print(students)

['dinesh', 'surya', 'nikitha', 'bhoomika', 'tilak', 'sai']

In [19]:
type(students)

list

In [ ]:
# Introduction to indexing (starts from 0,1,2,3.....)

In [ ]:
# Requirement I want to access Surya from the list

In [20]:
students = ['dinesh', 'surya', 'nikitha', 'bhoomika', 'tilak', 'sai']
print(students[1])

surya

In [ ]:
#formatting

In [21]:
students = ['dinesh', 'surya', 'nikitha', 'bhoomika', 'tilak', 'sai']
print(students[1].title())

Surya